<%= render "shared/header" %>
<%= form_with model: @user, url: edit_user_registration_path,id:"nanka",class: "devise-registration-main",local: true do |f| %>
  <div class = "devise-form-wrap">
    <div class = "devise-form-header">
      <h2 class = "new-registration">ユーザー編集</h2>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
   <%# ニックネーム %>
   <div class="field-group">
      <%= f.label :nickname,class: "devise-label" %><br/>
      <%= f.text_field :nickname, autocomplete: "new-password",class: "devise-form-in" %>
    </div>
  <%# Email %>
   <div class="field-group">
    <%= f.label :email ,class: "devise-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "devise-form-in" %>
  </div>
  <%# パスワード %>
  <div class="field-group">
    <%= f.label :password ,class: "devise-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class: "devise-form-in" %>
  </div>
 <%# パスワード確認 %>
  <div class="field-group">
    <%= f.label :password_confirmation ,class: "devise-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "devise-form-in" %>
  </div>
  
  <div class="field-group">
    <%= f.label :age ,class: "devise-label" %><br />
    <%= f.text_field :age, autocomplete: "new-password" ,class: "devise-form-in" %>
  </div>
  <div class="field-group">
    <%= f.label :gender ,class: "devise-label" %><br />
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"devise-form-in", id:"item-sales-status"})  %>
  </div>

  <div class="sign-up-label">
    <%= f.submit "Edit",class:"devise-label" %>
  </div>
  
  <% end %>
  </div>
  <%= render "shared/second_footer" %>
