

  <div class = "background-image">
    <%# <%= image_tag 'sunset.jpg' ,class: 'post-image' %>  
    <div class = "post-form"> 
      <p class = "lets-post">投稿しましょう↓↓</p>
     <%= form_with model:@tweet, local: true do |f| %>
  <%# <%= render 'shared/error_messages', model: f.object %> 
        <p>撮影地</p>
          <%= f.text_field :name, class:"tweet-text", id:"tweet-nickname", placeholder:"撮影地", maxlength:"10" %>
        <p>住所</p>
          <%= f.text_field :address, class:"tweet-text", id:"tweet-address", placeholder:"投稿先の住所", maxlength:"40" %>

        <p>画像投稿</p>
        <%= f.file_field :image, id:"tweet-image" %>
        <p>詳細</p>
        <%= f.text_area :recommend, class:"tweet-text", id:"tweet-recommend", placeholder:"旅行先の詳細（必須 100文字まで)", maxlength:"100" %>
        <p>費用</p>
        <%= f.text_field :cost, class:"tweet-text", id:"tweet-cost", placeholder:"旅行でかかった費用", maxlength:"10" %>
        <p>投稿する</p>
          <%= f.submit "投稿する" ,class:"tweet-text" %>
  
          <%=link_to 'もどる', root_path, class:"tweet-text" %>
          <%end%>
  </div>

 </div>
