<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  
  <%= form.text_field :name, placeholder: "名前で検索", class: "search-input" %>
  <%= form.text_field :address, placeholder: "住所で検索する", class: "search-input" %>
  <%= form.text_field :cost, placeholder: "費用はいくらからいくらまで？", class: "search-input" %>

  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets", locals: { tweet: tweet } %>
  <% end %>
</div>