<%= render "shared/header" %>
<div class = "show-container">
  <div class = "show-image">
        <div class = "show-pic">
          <%= link_to image_tag(@tweet.image.variant(resize: '800x1500')), tweet_path(@tweet.id), class: 'message-image' if @tweet.image.attached? %>
        </div>
      <div class = "under-bar">
        <h2 class ="show-detail">撮影先の情報 </h2>
          <div class= under-container>
            <ul class = info-title>
              <li>所在地</li>
              <li>備考</li>
              <li>あなたの家からおよそ</li>
            </ul>
            <ul class = "info-list">  
              <li><%= @tweet.address %></li>
              <li><%= @tweet.recommend %></li>
    </div>
  </div>  
  </div>
  
  <div class = "sub-container">
    <div class = "info-container">
      <div class = "poster-container">
        <h2 class ="poster-title"><%=@tweet.user.nickname %>さんからひとこと</h2>  
      </div>
      <div class="poster-comment">
        <p><%=@tweet.recommend %></p>  
      </div>
    </div>
    <div class = "com-container">  
      <div class = "com-title">
        <h2 class ="com-title-list">コメント欄</h2>
      </div>
      <ul class ="comment-lists">    
        <% @comments.each do |comment| %>
        <li><%=comment.text %></li>
            <% end %>
      </ul>
    <div>
  <%# コメントインプット %>
      <%= form_with model: @comments,url: tweet_comments_path(@tweet),html: {class: "comment-text-form"}, local: true do |f|%>
        <div class="form-input">
          <%= f.text_field :text, class: 'form-message', placeholder: 'type a message' %>
          <label class="form-image"></label>
          <%= f.submit '送信', class: 'form-submit' %>
        </div>
      <% end %>
  
<div> 
<div class = "google-map">
<div id='map'></div>
        <div class = "main-map">
          <style>
          #map {
            height: 900px;
            width: 900px;
          }
          </style>
            <!-- 検索機能の追加 -->
            <script>
              let map
                function initMap(){
                  geocoder = new google.maps.Geocoder()
                  map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 40.7828, lng:-73.9653},
                  zoom: 12,
                  });
                  marker = new google.maps.Marker({
                  position:  {lat: 40.7828, lng:-73.9653},
                  map: map
                  });
                  }
                // GooGlemapここから追加 
              let geocoder
                function codeAddress(){
                let inputAddress = document.getElementById('address').value;

                    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                  map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            
              } else {
                alert('該当する結果がありませんでした：' + status);
              }
              });   
              }
            // ここまで追加 
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4sHRV0I9mbiVq5KVr4Kof38euJ_g29ns&callback=initMap" async defer></script>
        </div>  
    <div class="detail-and-map">
        <div class="search-map">
          <input id="address" type="textbox" value="GeekSalon">
          <input type="button" value="検索" onclick="codeAddress()">
        </div>
<div> 