<div class = "show-container">
<div class = "show-image">
  <div class = "show-pic">
    <%= link_to image_tag(@tweet.image.variant(resize: '800x1500')), tweet_path(@tweet.id), class: 'message-image' if @tweet.image.attached? %>
  </div>
      <div class = "under-bar">
        <h2 class ="show-detail">撮影先の情報 </h2>
          <div class= under-container>
            <ul class = info-title>
              <li>所在地</li>
              <li>備考</li>
              <li>あなたの家からおよそ</li>
            </ul>
            <ul class = "info-list">  
              <li><%= @tweet.address %></li>
              <li><%= @tweet.recommend %></li>
              <li><%= link_to "MAPはこちら", tweet_maps_path(@tweet.id) %><li>
            </ul>
    </div>
  </div>  
  </div>
  
  <div class = "sub-container">
    <div class = "info-container">
      <div class = "poster-container">
        <h2 class ="poster-title"><%=@tweet.user.nickname %>さんからひとこと</h2>  
      </div>
      <div class="poster-comment">
        <p><%=@tweet.recommend %></p>  
      </div>
    </div>
    <div class = "com-container">  
      <div class = "com-title-container">
        <h2 class ="com-title-list">コメント欄</h2>
      </div>
      <ul class ="comment-lists">    
        <% @comments.each do |comment| %>
        <% if comment.id != comment.user.id%>
          <div class = "balloon">
            <li class = "ballon-left-from"><b><%=comment.user.nickname %></b></li>
            <li class ="balloon-left"><%=comment.text %></li>
            
          </div>
        <% else %>
           <div class = "balloon">
            <li class ="balloon-right"><%=comment.text %></li>
            <li class = "ballon-right-from"><b><%=comment.user.nickname %></b></li>
          </div>
        <% end %>
      <% end %>
      </ul>
    <div>
  <%# コメントインプット %>
      <%= form_with model: @comments,url: tweet_comments_path(@tweet),html: {class: "comment-text-form"}, local: true do |f|%>
        <div class="form-input">
          <%= f.text_field :text, class: 'form-message', placeholder: 'type a message' %>
          <label class="form-image"></label>
          <%= f.submit '送信', class: 'form-submit' %>
        </div>
      <% end %>
</div>

