   
  <header>
      <%# トップのヘッダー画像 %>
      <div class="header-top">
        <%= image_tag 'header.jpg' ,class: 'header-image' %> 
        <p class="WonderingJourney">WonderingJourney</p>
      </div> 

      <div class="g-nav">
        <ul class = "g-nav-left">
          <div class= "g-nav-btn-container">
          <li><%= link_to "TOP", "/" ,class: "link-btn",id:"header-btn"%></li>
          </div>
          <% unless user_signed_in? %>
           <div class= "g-nav-btn-container">
            <li><%= link_to "投稿",new_user_registration_path,class:"link-btn",id:"header-btn"%></li>
           </div>
           <% else%>
             <div class= "g-nav-btn-container">
            <li><%= link_to "投稿",new_tweet_path,class:"link-btn",id:"header-btn"%></li>
           </div>
              <% end%>
           <div class= "g-nav-btn-container">
          <li><%= link_to "ありがとう", charities_path,class:"link-btn" %></li>
          </div>
        </ul>
          <ul class = "g-nav-right">
      
          <% unless user_signed_in? %>
          <div class= "g-nav-btn-container">
          <li><%= link_to "新規登録", new_user_registration_path,class:"link-btn" %></li>
           </div> 
           <div class= "g-nav-btn-container">      
           <li><%= link_to "ログイン", new_user_session_path,class:"link-btn" %></li>
           </div> 
          <% else %>
          <div class= "g-nav-btn-container">  
          <li><%= link_to "ユーザー編集", edit_user_registration_path,class:"link-btn" %></li>
           </div> 
           <div class= "g-nav-btn-container">    
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"link-btn" %></li>
           </div> 
          <% end %>
        </ul>
      </div> 
    
    </header>