
<h2>ログイン</h2>

<%= form_with model:@user,url:user_session_path,id:"nanka",class: "devise-registration-main",local: true do |f| %> %>
  <div class = "devise-form-wrap">
    <div class = "devise-form-header">
      <h2 class = "new-registration">ログイン</h2>
    </div>
   <%# ニックネーム %>
   <div class="field-group">
    <%= f.label :email ,class: "devise-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "devise-form-in" %>
  </div>

   <div class="field-group">
    <%= f.label :password ,class: "devise-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "devise-form-in" %>
   </div>

  <% if devise_mapping.rememberable? %>
    <div class="field-group">
      <%= f.check_box :remember_me ,class: "devise-form-in" %>
      <%= f.label :remember_me ,class: "devise-form-in" %>
    </div>
  <% end %>

   <div class="sign-up-label">
    <%= f.submit "Log in" ,class: "devise-form-in" %>
  </div>
    <div class="log-in-here">新規登録はこちら！
      <%= render "devise/shared/links" %>
  </div>
    
   
  </div>
 
<% end %>
   
<%= render "shared/footer" %>

