<%= render "shared/header" %>
<div class="detail-search">
  <div class="detail-search-top">詳細検索</div>

<%= form_with(url: search_searches_path, local: true, method: :get, class: "search-detail-form") do |form| %>
  
  <%= form.text_field :namekeyword, placeholder: "名前で検索", class: "detail-search-input" %>
  <%= form.text_field :namekeyword, placeholder: "住所で検索する", class: "detail-search-input" %>


  <%= form.submit "検索", class: "search-btn" %>
<% end %>
</div>
<%= render "shared/second_footer" %>
