<!DOCTYPE html>
<html>
  <head>
    <title>WonderingJourney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="javascript/list.js"></script>
   
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>

  <body>

    <header class = "top-logo-class" >
      <div class="header-top">
      <%= image_tag 'header.jpg' ,class: 'header-image' %> 
      <div class="header-btn">
        <ul class = "header-left">
          <li><%= link_to "TOP", "/" ,class: "edit-link"%></li>
          <li><%= link_to "投稿",new_tweet_path,class:"edit-link"%></li>
          <li><%= link_to "詳細検索", "/",class:"edit-link" %></li>
          <li><%= link_to "ありがとう", "/",class:"edit-link" %></li>
        </ul>
          <ul class = "header-right">
      
          <% unless user_signed_in? %>
          <li><%= link_to "新規登録", new_user_registration_path,class:"edit-link" %></li>          <li><%= link_to "ログイン", new_user_session_path,class:"edit-link" %></li>
          <% else %>
          <li><%= link_to "ユーザー編集", edit_user_registration_path,class:"edit-link" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"edit-link" %></li>
          <% end %>
        </ul>
      </div> 
    </header>
    <div class = "body">
      <aside>
      <ul class = "sidebar-title">
      <li class = "sidebar-title-shortcut">ショートカット </li>
      </ul>

      <ul><% @tweets.each do |tweet| %>
       <li><%= tweet.name =%></li> 
      <% end %>
       </ul>
      
      
      </aside>
      <main>
        <%= yield %> 
      </main>
    </div>
  </body>  
  <footer>
      <%# <%= image_tag "sunset.jpg" ,class: '.footer-image' %> 
  </footer>
  </body>
  
    
</html>
